<div class="mx-50 mt-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-16">
    <div class="flex items-center justify-center border-coolor border-1 border-gray-300 border-dashed rounded-xl shadow hover:bg-gray-100 cursor-pointer" (click)="onShowDialog()">
        <i class="pi pi-plus text-2xl"></i>
    </div>
    @for (list of lists(); track list.id) {
        <app-list [list]="list"></app-list>
    }
</div>
<p-dialog header="Add list" [modal]="true" [(visible)]="visible">
    <div class="flex items-center gap-4 mb-4">
        <label for="listTitle" class="font-semibold w-24">List title</label>
        <input pInputText id="listTitle" class="flex-auto" autocomplete="off" [(ngModel)]="listTitle" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onCancelDialog()" />
        <p-button label="Save" (click)="onSaveDialog()" />
    </div>
</p-dialog>
