@if (list) {
    <p-card class="">
        <ng-template #title>
            <div class="flex gap-2 items-center">
                <span class="cursor-pointer" (click)="onShowEditDialog(list.title)">{{ list.archived ? list.title + " (A)" : list.title }}</span>
                <i class="pi pi-times text-sm cursor-pointer" (click)="onDeleteList(list.id)"></i>
                <i class="pi pi-check text-sm cursor-pointer" (click)="onArchiveList(list.id)"></i>
                <i class="pi pi-plus text-2xl ml-auto cursor-pointer" (click)="onShowCreateDialog()"></i>
            </div>
        </ng-template>
        @for (task of list.tasks; track task.id) {
            <app-task [task]="task" [listId]="list.id"></app-task>
        }
    </p-card>
    <p-dialog header="Create task" [modal]="true" [(visible)]="createTaskVisible">
        <div class="flex items-center gap-4 mb-4">
            <label for="taskName" class="font-semibold w-24">Task name</label>
            <input pInputText id="taskName" class="flex-auto" autocomplete="off" [(ngModel)]="taskName" />
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onCancelCreateDialog()" />
            <p-button label="Save" (click)="onSaveCreateDialog(list.id)" />
        </div>
    </p-dialog>
    <p-dialog header="Edit list" [modal]="true" [(visible)]="editListVisible">
        <div class="flex items-center gap-4 mb-4">
            <label for="editList" class="font-semibold w-24">List title</label>
            <input pInputText id="editList" class="flex-auto" autocomplete="off" [(ngModel)]="listTitle" />
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onCancelEditDialog()" />
            <p-button label="Save" (click)="onSaveEditDialog(list.id)" />
        </div>
    </p-dialog>
}
