@if (task && listId) {
    <div class="flex gap-2 items-center">
        <span class="hover:bg-gray-200 rounded-sm cursor-pointer" (click)="onShowDialog(task.name)">{{ task.completed ? task.name + " (C)" : task.name }}</span>
        <i class="pi pi-trash text-xs hover:bg-gray-200 rounded-xl cursor-pointer" (click)="onDeleteTask(listId, task.id)"></i>
        <i class="pi pi-check text-xs hover:bg-gray-200 rounded-xl cursor-pointer" (click)="onCompleteTask(listId, task.id)"></i>
    </div>
    <p-dialog header="Edit task" [modal]="true" [(visible)]="visible">
        <div class="flex items-center gap-4 mb-4">
            <label for="taskName" class="font-semibold w-24">Task name</label>
            <input pInputText id="taskName" class="flex-auto" autocomplete="off" [(ngModel)]="taskName" />
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="onCancelDialog()" />
            <p-button label="Save" (click)="onSaveDialog(listId, task.id)" />
        </div>
    </p-dialog>
}